/**
такое подключение допустимо, но можно лучше через link в index.html
разница в том что этот import является блокирующим и пока он не отработает - стили подвиснут, а в html такого эффекта не будет
 */
/*@import url('https://fonts.googleapis.com/css2?family=Kristi&family=Montserrat:wght@100&family=Roboto&display=swap');*/

/**
А вот это уже спорная вещь, я это вижу даже в самых-самых боевых проектах, как по мне это плохая практика, но допустимая,
это явно лишняя нагрузка на движок рендера, но не видел чтобы из-за этого какой-то браузер загнулся
 */
*{
    box-sizing: border-box;

}
body{
    margin: 0;
}
/*Main body*/
.main-container{
    padding-top: 40px;
    font: normal 16px 'Roboto', sans-serif;
    /*лучше внутри body иметь контейнер с max-width, на сам body вешать ограничения - плохая практика, body должен соответствовать размерам окна браузера*/
    /*и баги напрямую будут связаны с js кодом в основном который будет некорректно рассчитывать размеры допустимого пространства*/
    max-width: 75%;
    margin: auto;
    line-height: 1.5;
}
/*General info block*/
.general-information{
    display: flex;
    justify-content: space-between;
    padding-top: 0;
    margin-bottom: 15px;

}
/*Img Avatar*/
.avatar__img{
    border-radius: 20%;
    width: 160px;
    height: 160px;
    margin: 0;
}
.main-info__fio{
    margin: 5px 0;
}
.main-info__info{
    margin: 0;
}
/*Short info*/
.short-information__item{
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    margin-bottom: 15px;
}
.short-information__item-theme{
    text-transform: uppercase;
    width: 25%; /*may be this is misstake - delete*/
    margin-right: 10px;
    font-weight: 500;
}
.focussed{
    font-weight: 800;
}
/**
   Плохое имя класса, если будет новая компоновка, то sidebar может и слева оказаться
 */
.main-info, .short-information__item-content{
    width: 75%;
}

/**
    Плохое имя класса, прочитай самое начало по БЭМ, что делать если покрасишь блок красным?
    лучше уж .text-primary, .color-accent и подобное
 */
.color-accent{
    color: blue;
}
/*May be better use hr tag?*/
.divider{
    border-top: 1px aqua solid;
}

.link:link{
    text-decoration: none;
}
/**
    раз для листов, то и назови .list и .list__item
 */
/*For list*/
.list{
    margin: 0;
    padding: 0 20px;
}
.list__item{
    margin: 5px 0;
}
.list__item::marker{
    color: aqua;
}
/*Media scalling*/
@media (max-width: 900px) {
    .main-container{
        padding-top: 20px;
        font: normal 20px 'Roboto', sans-serif;
        display: flex;
        align-content: center;
        flex-direction: column;
        max-width: 95%;
        line-height: 2;
    }
    .general-information, .short-information__item{
        flex-direction: column;
        align-content: center;
    }
    .avatar,.main-info__info, .main-info__fio{
        text-align: center;
    }
    .main-info__info-value{
        margin: 0;
    }
    .short-information__item-theme{
        padding: 0 0 10px 0;
        text-align: center;
        margin: 0;
        width: 100%;
    }

    .main-info, .short-information__item-content{
        width: 100%;
    }


}